version: "2"
services:
  bot:
    build: .
    env_file: .env
    restart: always
    environment:
      LDAP_URL: ldap://containers-openldap-1:389
    networks:
      - default
      - ldap
    depends_on:
      - redis

  redis:
    image: "redis:alpine"
    volumes:
      - /home/sysadmin/ccawmunity/data:/data
    networks:
      - default

  office-presence:
    build: /home/sysadmin/office-presence
    restart: always
    volumes:
      - /tmp/morgana-arp.txt:/app/arp.txt:ro
      - office-data:/app/data
    networks:
      - default

volumes:
  office-data:

networks:
  ldap:
    external: true